{% load i18n %}
{% load media_audio %}
{% spaceless %}
{% include 'archives/embargo_notice.html' %}
<h1>{{ object.title }}</h1>


{% if object.resource_aac %}
    {% embedaudio object 'aac' %}
{% elif object.resource_mp3 %}
    {% embedaudio object 'mp3' %}
{% elif object.resource_m4a %}
    {% embedaudio object 'm4a' %}
{% endif %}

<br>
<p>{{ object.description|safe }}</p>

{% include 'archives/extra_description.html' %}
{% include 'archives/credit.html' %}
{% include 'archives/extra_footer.html' %}
{% endspaceless %}

{% block extra_scripts %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    setupAudioPlayer('{{ object.id }}');
})
</script>
{% endblock %}
